.header {
    background-color: black;
    color: white;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 0;
    height: 91px;
}

.logo {
    position: absolute;
    height: 50px;
    left: 0;
    top: 17px;
}
ul  {
    list-style-type: none;
    top: 16px;
    display: flex;
    align-items: initial;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1270px;
    margin-left: 169px;
    margin-top: 29px;
}

li{
    display: inline-block;
    padding-right: 10%;
}
